<div class="section columns medium-5 mediumlarge-4 large-3">
  <% if user_signed_in? %>
    <div class="card extra">
      <div class="card__content">
        <%= render partial: "decidim/shared/follow_button", locals: { followable: question } %>
      </div>
    </div>
  <% end %>
  <%= feature_reference(current_question) %>
  <%= render partial: "decidim/consultations/questions/statistics" %>
  <%= render partial: "decidim/shared/share_modal" %>
</div>
