<% if consultation.regular_questions.any? %>
  <section  id="regular-questions" class="row section">
    <h4 class=section-heading>
      <%= t "consultations.regular_questions.title", scope: "decidim"  %>
    </h4>

    <% consultation.regular_questions.each do |scope_id, questions| %>
      <h5 class="question-group-heading"><%= translated_attribute questions.first.scope.name %></h5>
      <% questions.each do |question| %>
        <%= render partial: "question", locals: { question: question } %>
      <% end %>
    <% end %>
  </section>
<% end %>
