<section  id="consultation-details" class="row section">
  <article class="card card--full card--process">
    <div class="row collapse card--process__row">
      <div class="columns mediumlarge-8 large-6 card--process__column">
        <div class="card__content">
          <%= decidim_sanitize translated_attribute current_consultation.description %>
        </div>
      </div>
      <div class="columns mediumlarge-8 large-6 card--process__column">
        <div class="video-wrapper">
          <iframe src="<%= current_consultation.introductory_video_url %>" frameborder=0>
          </iframe>
        </div>
      </div>
    </div>
  </article>
</section>

<%= render partial: "highlighted_questions", locals: { consultation: current_consultation } %>
<%= render partial: "regular_questions", locals: { consultation: current_consultation } %>
