<div class="columns mediumlarge-3">
  <div class="process-header__phase">
    <div>
      <span class="phase-title"><%=t ".start_voting_date" %></span>
      <span class="phase-date highlighted">
        <%= l(consultation.start_voting_date, format: :long) %>
      </span>
    </div>
  </div>
</div>
